<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>Curreny Converter</title>
</head>
<body class="fade-in">
  <div class="wrapper">
    <div class="left-box">
      <select class="slctr-left" name="set">
        <option value="USD">USD</option>
        <option value=EUR"">EUR</option>
        <option value="PLN">PLN</option>
        <option value="CZK">CZK</option>
      </select>
      <input type="number" placeholder="ENTER AMOUNT"></input>
    </div>
    <div class="right-box">
      <select class="slctr-right" name="get">
        <option value="USD">USD</option>
        <option value=EUR"">EUR</option>
        <option value="PLN">PLN</option>
        <option value="CZK">CZK</option>
        <textarea readonly></textarea>
      </select>
    </div>
    <div class="box">
      <button type="button" name="button" class="bottom-box"><span class="txtfld-wht">CONVERT</span></button>
    </div>
  </div>
</body>